<div class="container mx-auto">
  <div class="header-container">
    <h2 class="text-2xl font-bold">Books</h2>
    <button class="btn add-book-btn" (click)="toggleModal()">+ Add Book</button>
  </div>

  <!-- Book Modal -->
  <div *ngIf="showModal" class="modal modal-open">
    <div class="modal-box">
      <h3 class="font-bold text-lg mb-4">{{ isEditing ? 'Edit' : 'Add' }} Book</h3>
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
        <div class="form-control">
          <label class="label">Title</label>
          <input type="text" formControlName="Title" class="input input-bordered" required>
        </div>
        <div class="form-control">
          <label class="label">Author</label>
          <input type="text" formControlName="Author" class="input input-bordered" required>
        </div>
        <div class="form-control">
          <label class="label">Description</label>
          <textarea formControlName="Description" class="textarea textarea-bordered"></textarea>
        </div>
        <div class="modal-action">
          <button type="button" class="btn" (click)="toggleModal()">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="!bookForm.valid">
            {{ isEditing ? 'Update' : 'Save' }}
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Books Table -->
  <div class="mt-8 overflow-x-auto">
    <h3 class="text-xl font-bold mb-2">Book List</h3>
    <table class="table table-zebra w-full border-separate border-spacing-0">
      <thead>
        <tr class="bg-maroon text-white">
          <th class="p-4">Title</th>
          <th class="p-4">Author</th>
          <th class="p-4">Description</th>
          <th class="p-4 w-36">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books" class="hover:bg-gray-100">
          <td class="p-4">{{ book.Title }}</td>
          <td class="p-4">{{ book.Author }}</td>
          <td class="p-4">{{ book.Description }}</td>
          <td class="p-4 flex justify-center space-x-2">
            <button class="btn btn-sm" (click)="editBook(book)">Edit</button>
            <button class="btn btn-sm" (click)="deleteBook(book.BookID!)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
